
{% extends 'layouts/base.html' %}

{% block title %}
    <title>Cambiar Contraseña</title>
{% endblock %}

{% load static %}

{% block extrahead %}
    <link rel="stylesheet" href="{% static 'css/user/styles_cambiar_contrasenia.css' %}">
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row justify-content-center mt-5">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <h2 class="text-center mb-4">Cambiar Contraseña</h2>
                        <form action="" method="POST">
                            {% csrf_token %}
                            <div class="form-group">
                                {{ form.as_p }}
                            </div>
                            <div class="text-center mt-4">
                                <button type="submit" class="btn btn-primary">Cambiar</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}


