
.vehiculo-details {
    margin-top: 50px;
}

.vehiculo-info {
    margin-bottom: 20px;
}

.vehiculo-actions {
    margin-top: 20px;
}

.btn-action {
    margin-right: 10px;
    margin-bottom: 10px;
}
